.config/nvim/plugin/*
*__pycache__*
.venv/*
.config/Code/*
.config/zed/prompts/*
.config/vim/autoload/*
.config/vim/plugged/*
.DS_store
lazy-lock.json
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
